<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conConexion" providerName="SQLServer" connectionString="Data Source=10.10.113.13\JEFATURA; uid=AyniMail; pwd=C0rr3ODb@$$#!; Initial Catalog=bdSatelites"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RutaLog" value="C:\Satelites\OperacionesTopazLog\"/>
  
  
  </appSettings> 
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="OperacionesTopazWS.wsGestion">
        <endpoint address="" binding="basicHttpBinding" contract="OperacionesTopazWS.Interfaces.IwsGestion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/OperacionesTopazWS/WsGestion/" />
          </baseAddresses>
        </host>
      </service>
      <service name="OperacionesTopazWS.wsCondicion">
        <endpoint address="" binding="basicHttpBinding" contract="OperacionesTopazWS.Interfaces.IwsCondicion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/OperacionesTopazWS/wsCondicion/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>