@{
    Layout = "~/Views/Shared/AccesoDenegado.cshtml";
}
<center style="margin-top:5%;">
    <img src="@ViewBag.vRuta/images/alert_page.png" />
    <h2 style="display:block"><small style="color: #d83f3f;">Su tiempo ha expirado, ingrese nuevamente.</small></h2>
</center>
