<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RutaLog" value="C:\Satelites\OperacionesTopazLog\" />
    <add key="RutaFileServer" value="http://10.10.113.178/Satelites.Base" />
    <add key="RutaFileServer2" value="\\10.10.113.48\desarrollo\Pruebas\" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwsSEA" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IwsUsuario" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IwsGestion" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IwsCondicion" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IwsGestion1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.113.178/Satelites.Seguridad.WS/SeguridadWS.wsSEA.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsSEA" contract="wsSeguridad.IwsSEA" name="BasicHttpBinding_IwsSEA" />
      <endpoint address="http://10.10.113.178/Satelites.Seguridad.WS/SeguridadWS.wsUsuario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsUsuario" contract="wsUsuario.IwsUsuario" name="BasicHttpBinding_IwsUsuario" />
      <endpoint address="http://localhost:8733/OperacionesTopazWS/wsCondicion/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsCondicion" contract="wsCondicion.IwsCondicion" name="BasicHttpBinding_IwsCondicion" />
      <endpoint address="http://localhost:8733/OperacionesTopazWS/WsGestion/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsGestion" contract="wsGestion.IwsGestion" name="BasicHttpBinding_IwsGestion" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 4491B788-0682-4578-9449-43B966A50C7E-->