@{
    Layout = "~/Views/Shared/AccesoDenegado.cshtml";
}
<center style="margin-top:5%;">
    <img src="@ViewBag.vRuta/images/access_page.png" />
    <h1 style="display:block"><small style="color: #d83f3f;">Acceso Denegado.</small></h1>
</center>
