<!DOCTYPE html>

<link href="~/Content/css/ListaProductoAhorro.css" rel="stylesheet" />
<html lang="en">

 
<body>
 


           
                <fieldset>
                    <div id="dvScroll" style="overflow-y:auto; height: auto">
                   
                        <table id="tblReglasProdsAhorroOrden" class="display dataTable no-footer" width="99%">

                            <colgroup>
                                <col width="2%" />
                                <col width="2%" />
                                <col width="7%" />

                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Orden Producto</th>
                                    <th>Código Producto</th>

                                    <th>Nombre Producto</th>
                                </tr>

                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                         
</div>

                </fieldset>
         



     

</body>

</html>
<script src="~/Content/js/Condiciones/ListarOrdenProductoAhorros.js"></script>